*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.avro filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/test/5080_54400.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/test/5080_54470.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/test/5100_54440.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/test/5100_54490.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/test/5120_54445.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/test/5135_54430.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/test/5135_54435.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/test/5140_54390.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/test/5150_54325.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/test/5155_54335.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/test/5175_54395.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5080_54435.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5085_54320.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5095_54440.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5095_54455.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5100_54495.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5105_54405.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5105_54460.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5110_54320.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5110_54460.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5110_54475.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5110_54495.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5115_54480.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5130_54355.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5135_54495.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5140_54445.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5145_54340.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5145_54405.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5145_54460.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5145_54470.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5145_54480.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5150_54340.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5160_54330.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5165_54390.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5165_54395.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5180_54435.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5180_54485.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5185_54390.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5185_54485.laz filter=lfs diff=lfs merge=lfs -text
DALES-2-DATASET/dales_2/train/5190_54400.laz filter=lfs diff=lfs merge=lfs -text
test/5080_54470.laz filter=lfs diff=lfs merge=lfs -text
test/5100_54440.laz filter=lfs diff=lfs merge=lfs -text
test/5100_54490.laz filter=lfs diff=lfs merge=lfs -text
test/5120_54445.laz filter=lfs diff=lfs merge=lfs -text
test/5135_54430.laz filter=lfs diff=lfs merge=lfs -text
test/5135_54435.laz filter=lfs diff=lfs merge=lfs -text
test/5140_54390.laz filter=lfs diff=lfs merge=lfs -text
test/5150_54325.laz filter=lfs diff=lfs merge=lfs -text
test/5175_54395.laz filter=lfs diff=lfs merge=lfs -text
train/5080_54435.laz filter=lfs diff=lfs merge=lfs -text
train/5085_54320.laz filter=lfs diff=lfs merge=lfs -text
train/5095_54440.laz filter=lfs diff=lfs merge=lfs -text
train/5095_54455.laz filter=lfs diff=lfs merge=lfs -text
train/5100_54495.laz filter=lfs diff=lfs merge=lfs -text
train/5105_54405.laz filter=lfs diff=lfs merge=lfs -text
train/5105_54460.laz filter=lfs diff=lfs merge=lfs -text
train/5110_54460.laz filter=lfs diff=lfs merge=lfs -text
train/5110_54475.laz filter=lfs diff=lfs merge=lfs -text
train/5110_54495.laz filter=lfs diff=lfs merge=lfs -text
train/5115_54480.laz filter=lfs diff=lfs merge=lfs -text
train/5130_54355.laz filter=lfs diff=lfs merge=lfs -text
train/5135_54495.laz filter=lfs diff=lfs merge=lfs -text
train/5140_54445.laz filter=lfs diff=lfs merge=lfs -text
train/5145_54340.laz filter=lfs diff=lfs merge=lfs -text
train/5145_54405.laz filter=lfs diff=lfs merge=lfs -text
train/5145_54460.laz filter=lfs diff=lfs merge=lfs -text
train/5145_54470.laz filter=lfs diff=lfs merge=lfs -text
train/5145_54480.laz filter=lfs diff=lfs merge=lfs -text
train/5150_54340.laz filter=lfs diff=lfs merge=lfs -text
train/5160_54330.laz filter=lfs diff=lfs merge=lfs -text
train/5165_54390.laz filter=lfs diff=lfs merge=lfs -text
train/5180_54435.laz filter=lfs diff=lfs merge=lfs -text
train/5180_54485.laz filter=lfs diff=lfs merge=lfs -text
train/5185_54390.laz filter=lfs diff=lfs merge=lfs -text
train/5185_54485.laz filter=lfs diff=lfs merge=lfs -text
train/5190_54400.laz filter=lfs diff=lfs merge=lfs -text
test/5080_54400.laz filter=lfs diff=lfs merge=lfs -text
test/5155_54335.laz filter=lfs diff=lfs merge=lfs -text
train/5165_54395.laz filter=lfs diff=lfs merge=lfs -text
train/5110_54320.laz filter=lfs diff=lfs merge=lfs -text
